{% load static %}
<script src="{% static 'website/js/jquery.min.js' %}"></script>
<script src="{% static 'website/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'website/js/popper.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'website/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'website/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'website/js/aos.js' %}"></script>
<script src="{% static 'website/js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'website/js/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'website/js/scrollax.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{% static 'website/js/google-map.js' %}"></script>
<script src="{% static 'website/js/main.js' %}"></script>
