{% load static %}
<section class="ftco-intro" style="background-image: url({% static 'website/images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>We Provide Free Dental Care Consultation</h2>
        <p class="mb-0">Your Health is Our Top Priority with Comprehensive, Affordable medical.</p>
        <p></p>
      </div>
      <div class="col-md-3 d-flex align-items-center">
        <p class="mb-0"><a href="#" class="btn btn-secondary px-4 py-3">Free Consutation</a></p>
      </div>
    </div>
  </div>
</section>
