{% load static %}
<section class="ftco-section intro" style="background-image: url({% static 'website/images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mb-4">We promised to take care our patients and we delivered.</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
      </div>
    </div>
  </div>
</section>
