{% load static %}
<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image:url({% static 'website/images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
      <div class="col-md-6 text ftco-animate">
        <h1 class="mb-4">Helping Your <span>Stay Happy One</span></h1>
        <h3 class="subheading">Everyday We Bring Hope and Smile to the Patient We Serve</h3>
        <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">View our works</a></p>
      </div>
    </div>
    </div>
  </div>

  <div class="slider-item" style="background-image:url({% static 'website/images/bg_2.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
      <div class="col-md-6 text ftco-animate">
        <h1 class="mb-4">Smile Makes <br>A Lasting Impression</h1>
        <h3 class="subheading">Your Health is Our Top Priority with Comprehensive, Affordable medical.</h3>
        <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">View our works</a></p>
      </div>
    </div>
    </div>
  </div>
</section>
