{% load static %}
<section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <span class="subheading">Testimonials</span>
        <h2 class="mb-4">Our Patients Says About Us</h2>
      </div>
    </div>
    <div class="row ftco-animate justify-content-center">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url({% static 'website/images/person_1.jpg' %})">
              </div>
              <div class="text pl-4 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Racky Henderson</p>
                <span class="position">Farmer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url({% static 'website/images/person_2.jpg' %})">
              </div>
              <div class="text pl-4 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Henry Dee</p>
                <span class="position">Businessman</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url({% static 'website/images/person_3.jpg' %})">
              </div>
              <div class="text pl-4 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Mark Huff</p>
                <span class="position">Students</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url({% static 'website/images/person_4.jpg' %})">
              </div>
              <div class="text pl-4 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Rodel Golez</p>
                <span class="position">Striper</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url({% static 'website/images/person_1.jpg' %})">
              </div>
              <div class="text pl-4 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Ken Bosh</p>
                <span class="position">Manager</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
