{% load static %}
<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url({% static 'website/images/about.jpg' %});">
      </div>
      <div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
        <div class="heading-section mb-5">
          <div class="pl-md-5 ml-md-5 pt-md-5">
            <span class="subheading mb-2">Welcome to Dentista</span>
            <h2 class="mb-2" style="font-size: 32px;">Medical specialty concerned with the care of acutely ill hospitalized patients</h2>
          </div>
        </div>
        <div class="pl-md-5 ml-md-5 mb-5">
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <div class="founder d-flex align-items-center mt-5">
            <div class="img" style="background-image: url({% static 'website/images/doc-1.jpg' %});"></div>
            <div class="text pl-3">
              <h3 class="mb-0">Dr. Paul Foster</h3>
              <span class="position">CEO, Founder</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
